.mapboxWrapper {
  position: relative;
  width: 100vw;
  height: calc(100vh - 70px); /* 69px = footer heigh */
  overflow: hidden;
}

.mapbox {
  height: 100%;
  width: 100%;
}

.hospitalInfoWrapper {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px 0 rgb(48 49 53 / 16%);
  background: white;
}

.floatingContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
}
.topWrapper {
  display: column;
  flex-direction: row;
}

.locationButton {
  align-self: flex-end;
  justify-self: flex-end;
  background: white;
  padding: 1rem;
  box-shadow: 0 2px 8px 0 rgb(48 49 53 / 16%);
  border-radius: 8px;
  margin-bottom: 1rem;
}
.floatingTopLeftContainer {
  position: absolute;
  background: white;
  padding: 1rem;
  box-shadow: 0 2px 8px 0 rgb(48 49 53 / 16%);
  border-radius: 8px;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}

@media only screen and (min-width: 600px) {
  .floatingTopLeftContainer {
    width: 400px;
  }
}
